* {
  direction: rtl;
}
body {
  /* box-sizing: border-box; */
}
ul {
  list-style: none;
}

a {
  text-decoration: none;
  justify-content: flex-start;
}
.container {
  display: flex;
  gap: 9px;
  cursor: pointer;
}
img {
  width: 100%;
  margin: 0;
  position: relative;
}
h1 {
  justify-content: center;
}
nav {
  /* position: absolute; */
  margin: 0px;
  bottom: 100%;
  z-index: 2;
}
